.button {
  display: inline-block;
  margin: 0;
  border-radius: 5%;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 8px 16px;
  outline: none;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  font-family: "hammersmithoneregular";
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: none;
}

.button-primary {
  color: #00e0d0;
  border-color: #00e0d0;
  /*background-color: #ffffff;*/
}

.button-primary:hover {
  color: green;
  background-color: #ffffff;
  border-color: green;
}
.button-danger {
  color: #ffffff;
  background-color: red;
}

.button-danger:hover {
  color: red;
  background-color: #ffffff;
  border-color: red;
}

.button-large {
  padding: 22px 64px;
}

.button-medium {
  padding: 12px 24px;
}

.button-full {
  width: 100%;
}
