.nav {
}
.nav .nav-item {
  color: #ffffff;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto Black", arial;
}

.nav .nav-item:hover {
  text-decoration: underline;
}

.nav .is-active {
  color: #00e0d0;
}
